{% extends 'app/base.html' %}
{% block title %}Restaurant Update{% endblock %}
{% block content %}
<div class="container mt-4">
<div class="card col-md-6 mx-auto shadow-lg">
<h3></h3>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
{% for t in x %}
  {{t}}
{% endfor %}
<div class="row">
<div class="col">
<a href="{% url 'rstl' %}" class="btn btn-outline-primary form-control my-2">Back to list</a>
</div>
<div class="col">
<input type="submit" value="update" class="btn btn-outline-success form-control my-2">update</a>
</div>
</div>
{% endblock %}